.emph {
  color: #ff5503;
  font-weight: 600;
}

.pack {
  color: #1e90ff;  /*dodgerblue*/
  font-weight: 600;
}

.func {
  color: #C93312;  /*darkred*/
  font-weight: 600;
}

.objclass {
  color: #006400;  /*darkgreen*/
  font-weight: 600;
}

a {
  color: #1e90ff;
}

p {
  font-size: 16pt;
  font-weight: 500;
}

pre {
  box-sizing: border-box;
  left: 0; /* This changes where the code chunk box actually starts */ 
  /* padding: 10px 0 10px 60px; /* Change the last value here to move the text left or right */
  position: relative;
  width: 100%; /* This changes where the code chunk box ends on the right side */
  font-size: 75%; /*changes output size; and comments*/
  /*border: 10px solid #ff5500;*/  /*code block and results border*/
  /*background-color:#ff5500;*/   /* results background*/
  
}


#TOC {
  font-size: 75%;
  /*position: fixed;
  left: 0;
  top: 0;
  float: left;
  top: 1%;
  height: 100%;
  background: #f0f8ff;
  background: rgba(44,62,80, 0.02);*/
  /*position: relative;
  width: 320px;
  margin-left: -320px;
  float: right;
  overflow: hidden;
  background: #2c3e50;
  background: rgba(44,62,80, 0.4);
  color: #eee;
  min-height: 600px;*/
}

div.mousescroll {
    overflow: hidden;
}
div.mousescroll:hover {
    overflow-y: scroll;
}

.slimScrollDiv { 
  border: 1px solid #ff5503; 
  margin:10px; 
}



@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-right: 0;
  }
}

/*
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="js/bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="js/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</head>
*/